<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>



<!DOCTYPE html>
<html lang="en">
<head>
<title>Course Management</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a th:href="@{/users}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <div sec:authorize="hasAnyAuthority('ADMIN')">
      <a th:href="@{/register}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Create User</a>
      <a th:href="@{/course_creation_page}"class="w3-bar-item w3-button w3-hide-small w3-hover-white">Create Course</a>
      <a th:href="@{/course_enroll}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Enroll</a>
      <a th:href="@{/list_user}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Edit Users</a>
      
    </div>
   
  
    
    <a th:href="@{/logout}"method="post"  class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Sign Out</a>
    
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b></b></h4>
    <div th:each="course: ${courseList}">
        <a>
            <a th:href="@{view_course(id =${course.id})}" th:value = "*{id}" th:text="${course.name}">TEST</a>      
        </a>
    
      </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <div class="container text-center">
            <div>
                <h1>User Registration</h1>
            </div>
            <form th:action="@{/process_register}" th:object="${user}"
                method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail: </label>
                    <div class="col-8">
                        <input type="email" th:field="*{email}" class="form-control" required />
                    </div>
                </div>
                 
                <div class="form-group row">
                    <label class="col-4 col-form-label">Password: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{password}" class="form-control"
                                required minlength="6" maxlength="20"/>
                    </div>
                </div>
                 
                <div class="form-group row">
                    <label class="col-4 col-form-label">First Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{firstName}" class="form-control"
                                required minlength="2" maxlength="20"/>
                    </div>
                </div>
                 
                <div class="form-group row">
                    <label class="col-4 col-form-label">Last Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{lastName}" class="form-control"
                                required minlength="2" maxlength="20" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Role</label>
                    <div class="col-8">
                        <select th:field="*{role}">
                            <option th:value="'USER'" th:text="USER"></option>
                            <option th:value="'TEACHER'" th:text="TEACHER"></option>
                            </select>
                    </div>     
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Create User</button>
                </div>
                
            </div>
            </form>
           
        </div>
      
    </div>
    
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
    </div>

  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
