<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <span sec:authentication="principal.authorities">Roles</span>
    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <form th:action="@{/register}" >
            <input type="submit" value="Create User" />
        </form>
    </div>
    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <form th:action="@{/course_creation_page}" >
            <input type="submit" value="Create Course" />
        </form>
        <form th:action="@{/list_user}" >
            <input type="submit" value="Edit Users" />
        </form>
        <form th:action="@{/course_enroll}" >
            <input type="submit" value="Enroll" />
        </form>
    </div>
    <div sec:authorize="hasAnyAuthority('TEACHER')">
        <form th:action="@{/course_page}" >
            <input type="submit" value="Teacher" />
        </form>
        
    </div>
    <div>
       
    </div>
    
   
</div>
</body>
</html>